/* Header */
.title {
  text-align: center;
}

/* Table */
.planets-table {
  border-collapse: collapse;
  width: 4000px;
  /* text-align: center; */
}

.planets-table td, .planets-table th {
  border: 1px solid #ddd;
  padding: 10px;
}

.planets-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.planets-table tr:nth-child( even ) {
  background-color: #f2f2f2;
}

.planets-table tr:hover {
  background-color: #ddd;
}